@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", serif;
  font-family: "Inter", serif;
  background-color: black;
}

@layer base {
  * {
    @apply !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .social-icon {
    @apply size-5 md:size-8 
  }
  .mask-image {
    background-image: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient effect */
    -webkit-background-clip: text;  /* Ensure background clip works for text */
    background-clip: text;          /* For regular browsers */
    color: transparent;             /* Make the text transparent to show background */
  }
  
}
